<% 
	var n = "<font color=green>GREEN GREEN</font>"; 
	var tuoi = 15;
%>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1 style="color: red;">Hello ejs</h1>
	<!-- bien ejs -->
	<p><%= n %></p>
	<p><%- n %></p>
	
	<!-- if condition -->
	<% if(tuoi >= 18){ %>
		<h3>Bạn đủ tuổi</h3>
	<% }else{ %>
		<h3>Bạn gần đủ tuổi rồi</h3>
	<% } %>	
	
	<!-- for loop -->
	<% for(var i = 1; i < 3; i++){ %>
		<h3>Lặp <%= i %></h3>
	<% } %>
</body>
</html>